body {
	margin: 0px;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;

	display: flex;
	justify-content: center;
}

nav li {
	float: left;
	padding: 16px;

	transition: background 0.5s linear;
}

nav li:hover {
	background-color: #FCA311;

	transition: background 0.5s linear;
}

nav a {
	text-decoration: none;
	color: white;

	font-family: navFont;
	font-size: 24px;
}

nav {
	background-color: #14213D;
	width: 100%;

	position: sticky;
	top: 0;
}

h1 {
	margin: 0px;
	padding: 16px;

	background-color: #E5E5E5;

	font-family: headerFont;
	font-size: 48px;
}

footer {
	padding: 16px;
	color: white;

	background-color: #14213D;
}

.ShowButton {
	display: none;
	background-color: #E76F51;
}

.Main {
	flex: 1 100%;
	order: 2;
}

.Aside1 {
	padding: 15px;

	order: 1;
}

.Aside2 {
	padding: 15px;

	order: 3;
}

@font-face {
	font-family: navFont;
	src: url(fonts/BarlowCondensed-Thin.ttf);
}

@font-face {
	font-family: headerFont;
	src: url(fonts/BarlowCondensed-Bold.ttf);
}