/* Font-faces, Animations */

@font-face {
	font-family: navFont;
	src: url(../fonts/BarlowCondensed-Thin.ttf);
}

@font-face {
	font-family: headerFont;
	src: url(../fonts/BarlowCondensed-Bold.ttf);
}

@font-face {
	font-family: textFont; 
	src: url(../fonts/BarlowCondensed-Medium.ttf);
}

@keyframes TextFade {
	from {opacity: 0; }
	to {opacity: 1; }
}

@keyframes ZoomIn {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* Main styles */

body {
	margin: 0px;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;

	display: flex;
	justify-content: center;
}

nav li {
	float: left;

	transition: background 0.5s linear;
}

nav li:hover {
	background-color: #FCA311;

	transition: background 0.5s linear;
}

nav a, .ShowButton {
	text-decoration: none;
	color: white;

	display: block;
	padding: 16px;

	font-family: navFont;
	font-size: 24px;
}

nav {
	background-color: #14213D;
	width: 100%;

	position: sticky;
	top: 0;	
}

h1 {
	margin: 0px;
	padding: 16px;

	background-color: #E5E5E5;

	font-family: headerFont;
	font-size: 48px;
}

h2 {
	margin: 20px 0px 0px 0px;

	font-family: headerFont;
	font-size: 40px;

	text-align: center;
}

h3 {
	font-family: headerFont;
	font-size: 30px;

	text-align: center;
}

footer {
	padding: 16px;
	color: white;

	background-color: #14213D;

	font-family: navFont;
	font-size: 24px;

	text-align: center;
}

.ShowButton {
	cursor: pointer;

	display: none;
	background-color: #E76F51;
}

.Main {
	flex: 1 100%;
	order: 2;
}

.Main p {
	margin-left: 10%;
	margin-right: 10%;

	animation: TextFade 4s;

	position: relative;
	z-index: -1;

	font-family: textFont;
	font-size: 22px;

	text-align: center;
}

.Main hr {
	width: 100px;
}

.Aside1 {
	padding: 15px;

	order: 1;
}

.Aside2 {
	padding: 15px;

	order: 3;
}

/* ------- */ 